body{
    background: #EFEFF2;
    width: 100%;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif;
    outline: 1px solid red;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.header{
    display: flex;
    padding: 36px 0 0;
    justify-content: space-between;
    margin-bottom: 100px;
}
.header__box{
    display: flex;
    align-items: center;
    gap: 68px;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 48px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
.link{
    color: #19191C;
    text-decoration: none;
    transition: 0.3s;
}
.link:hover{
    color: #504DEE;
}
.btn-box{
    display: flex;
    gap: 48px;
    align-items: center;
}
.header__link{
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}
.header__link:hover{
    color: #504DEE;
}
.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    gap: 14px;
    color: #19191C;
    text-decoration: none;
}
.arrow::after{
    content: "";
    display: inline-block;
    background-image: url(../img/icon_en.svg);
    width: 16px;
    height: 10px;
}
.arrow:hover::after{
    background-image: url(../img/icon_blue.svg);
}
.header__btn{
    background: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    transition: 0.3s;
}
.header__btn:hover{
    background: #504DEE;
}
.offer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: url(../img/woman.png) 150% 100% no-repeat;
}
.offer__holder{
    max-width: 648px;
    background: url(../img/el20.png) 190% 35% no-repeat;
}
.duration{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #19191C;
    border-bottom: #504DEE solid 4px;
    margin-bottom: 40px;
}
.proff{
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
    color: #19191C;
}
.offer__holder h1{
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
    color: #19191C;
    margin-bottom: 48px;
}
.offer__description{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 50px;
}
.offer-btn{
    background: #504DEE;
    color: #FBFBFC;
    border: none;
    padding: 16px 37px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 110px;
    transition: 0.3s;
}
.offer-btn:hover{
    background: #19191C;
}
.offer__sale{
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    margin-bottom: 8px;
    
}
.offer__time{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 195px;
}
.offer__time span{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 12px;
}
.offer__list{
    list-style: none;
    position: relative;
}
.offer__item{
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    font-weight: 600;
    color: #19191C;
    font-size: 18px;
    line-height: 28px;
    transition: 0.3s;
}
.offer__item:hover{
    color: #504DEE;
    border: 2px solid #504DEE;
}
.offer__invision{
    position: absolute;
    top: 75px;
    right: 20px;
}
.offer__protopie{
    top: 5px;
    right: 220px;
}
.offer__miro{
    top: 85px;
    right: 470px;
}
.offer__photoshop{
    top: 250px;
    right: 450px;
}
.offer__figma{
    top: 400px;
    right: 650px;
}
.offer__illustrator{
    top: 580px;
    right: 570px;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 40px;
    margin-top: 168px;
}
.profession__text{
    max-width: 588px;
}
.profession__title{
    font-size: 58px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 20px;
}
.profession__description{
    font-size: 18px;
    line-height: 28px;
    color: #19191C;
}
.profession__info{
    display: flex;
    gap: 103px;
}
.profession__info-number{
    font-size: 58px;
    font-weight: 700;
}
.profession__info-label{
    font-size: 18px;
    color: #19191C;
    margin-top: 25px;
}
.profession__line{
    width: 254px;
    height: 4px;
    background-color: #19191C;
    margin: 21px 0 18px;
}
.profession__info-description{
    font-size: 18px;
    color: #19191C;
    line-height: 28px;
}
.profession__info-blocks{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.profession__info-itemm{
    width: 467px;
    height: 329px;
    padding: 20px;
}
.proffession__line{
    max-width: 371px;
    height: 4px;
    background-color: #19191C;
    margin: 12px 0; 
}
.portfolio{
    max-width: 467px;
    background-color: #d1d4f8;
    padding: 68px 50px;
}
.internship{
    max-width: 466px;
    background-color: #f3f3d7;
    padding: 68px 50px;
}
.certificate{
    max-width: 467px;
    background-color: #efdeee;
    padding: 68px 50px;
}
.profession__info-text{
    font-size: 34px;
    font-weight: 700;
}
.profession__info-descriptions{
    font-size: 18px;
    color: #19191C;
    line-height: 28px;
    max-width: 368px;  
}
.discover{
    width: 100%;
    margin-top: 140px;
}
.discover__title{
    max-width: 594px;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}
.discover__cards{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 100px 0 168px;
}
.discover_base{
    max-width: 467px;
    background-color: #DEEFE4;
    padding: 48px 59px 51px 68px;
}
.discover__description{
    font-size: 34px;
    font-weight: 700;
    color: #19191C;
}
.discover_base ul{
    list-style-type: square;
    margin-top: 47px;
    list-style-position: outside;
    padding-left: 20px;
}
.discover_optimal{
    max-width: 466px;
    background-color: #504DEE;
    padding: 48px 51px 51px 68px;
}
.optimal_title{
    font-size: 34px;
    font-weight: 700;
    color: #FBFBFC;
}
.discover_optimal ul{
    list-style-type: square;
    color: #FBFBFC;
    list-style-position: outside;
    padding-left: 20px;
    margin-top: 45px;
}
.discover__cards li{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 22px;
}
.helper{
    margin-top: 144px;
}
.discover__number_first{
    display: block;
    color: #6D6D77;
    font-size: 24px;
    font-weight: 700;
    line-height: 108%;
    padding-bottom: 3px;
}
.discover__number_second{
    display: block;
    font-size: 58px;
    font-weight: 700;
    line-height: 70px;
}
.helper_optimal{
    margin-top: 95px;
}
.optimal_price_one{
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #EFEFF2;
    padding-bottom: 3px;
}
.optimal_price_two{
    display: block;
    line-height: 70px;
    font-size: 58px;
    font-weight: 700;
    color: #FBFBFC;
}
.choose-btn{
    background: #19191C;
    color: #FBFBFC;
    border: none;
    padding: 16px 36px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    width: 163px;
    height: 58px;
    margin-top: 18px;
    transition: 0.3s;
}
.choose-btn:hover{
    background: #504DEE;
}
.optimal-btn{
    background: #FBFBFC;
    color: #504DEE;
    border: none;
    padding: 16px 36px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    width: 163px;
    height: 58px;
    margin-top: 18px;
    transition: 0.3s;
}
.optimal-btn:hover{
    background: #19191C;
    color: #FBFBFC;
}
.discover_premium{
    max-width: 467px;
    background-color: #DEEFE4;
    padding: 48px 38px 51px 68px;
}
.discover_premium ul{
    list-style-type: square;
    margin-top: 47px;
    list-style-position: outside;
    padding-left: 20px;
}
.helper_premium{
    margin-top: 119px;
}
.find-program{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DEEFE4;
    width: 100%;
    padding: 168px 0;
}
.find-program__text{
    max-width: 800px;
}
.find-program__text h2{
    font-size: 58px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 28px;
}
.find-program__text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.find-program__form{
    display: flex;
    flex-direction: column;
    max-width: 710px;
    width: 100%;
    gap: 48px;
}
.find-program__form input{
    border: none;
    border-bottom: 2px solid #19191C;
    font-size: 18px;
    background: transparent;
}
.form_btn{
    background-color: #19191C;
    color: #FBFBFC;
    padding: 16px 36px;
    align-self: flex-start;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s;
}
.form_btn:hover{
    background-color: #FBFBFC;
    color: #19191C;
}
footer{
    background-color: black;
}
.footer_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 68px 0 0;
}
.contacts{
    width: 255px;
}
.logos{
    font-weight: 800;
    font-size: 18px;
    line-height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FBFBFC;
    text-decoration: none;
    margin-bottom: 62px;
}
.mails, .call{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;
    color: #FBFBFC;
    text-decoration: none;
}
.footer_list h6{
    font-weight: 600;
    font-size: 18px;
    color: #FBFBFC;
    margin-bottom: 28px;
}
.footer_list ul{
    list-style: none;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_list a{
    color: #EFEFF2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 156%;
}
.copyright{
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: 18px;
    color: #6D6D77;
    padding-bottom: 62px;
}


